/* NavBar.css */
.navbar {
  background-color: #00738d;
  color: white;
  display: flex;
  justify-content:flex-start;
  align-items: center;
  padding: 10px 20px;
}

.nav-link,
.nav-link-small {
  text-decoration: none;
  color: #fff;
  margin-right: 20px;
}

.nav-link-small {
  font-size: 14px; 
}
